div.question{
  background-color: #eeeeff;
  margin: 10px 0px;
  padding: 5px;
}

input.question{
  width: 100%;
  font-size: 2rem;
}

a.remove{
  cursor: pointer;
  padding: 0px 5px 0px 3px;
  color: #ff0000;
}

div.value{
  background-color: #ddddff;
  margin: 5px 0px;
  padding: 5px;
}

.conditional{
  background-color: rgba(100,100,200,0.15);
  padding: 10px;
  margin: 10px;
}

.rule{
  padding:5px;
}
